.game-over {
    position: absolute;
    width: 60%;
    margin: 0% auto;
    top: 20%;
    left: 20%;
    background-color: rgb(71, 35, 104);
    padding: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(133, 114, 114);
    
}