.game-over {
    position: absolute;
    width: 60%;
    margin: 0% auto;
    top: 10%;
    left: 15%;
    background-color: rgb(71, 35, 104);
    padding: 10% 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(133, 114, 114);
    animation: myMove ease 2s;
    
}

@keyframes myMove {
  0% {opacity: 0;}
  100% {opacity: 1;}
}